<!-- gallery -->
<div class="gallery">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>OUR <span class="green">WORK</span></h2>
                <p>Here are our few samples of our work</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 col-sm-6">
             <div class="gallery_text">
                <div class="galleryh3">
                   <h3>Interior Design</h3>
                   <p>Furnished chairs & dining tables.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery1.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery3.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery4.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_text">
                <div class="galleryh3">
                   <h3>Interior Design</h3>
                   <p>Furnished kitchen & stairs
                   </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_text">
                <div class="galleryh3">
                   <h3>Interior Design</h3>
                   <p>Furnished hall & designs of interior.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery5.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="gallery_img">
                <figure><img src="/assets/images/gallery6.jpg" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end gallery -->