<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h1 style="color: white;">ABOUT US</h1>
    <section class="container">

        <div class="card">
            <div class="bg-image">
                <img src="/assets/images/bg-image.jpg" alt="">
            </div>
            <div class="pic">
                <img src="/assets/images/ot01.jpg" alt="">
            </div>
            <div class="info">
                <h3>Prayag Gharat</h3>
                <span> <b>Angular developer</b> </span>
                <p>He is a Full-stack & Python web developer.<br><br>
                He completed his graduation in B.Sc-IT in Pillai's HOC college of Arts, Science & Commerce, 
            Rasayani in Year 2021.<br><br>
                Along with his graduation, <br>He is a angular web developer<br>
                verified & certified by <br>Prognoz technologies Pvt. Ltd, Vashi.
        </p>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="/assets/images/bg-image.jpg" alt="">
            </div>
            <div class="pic">
                <img src="/assets/images/ot02.jpg" alt="">
            </div>
            <div class="info">
                <h3>Tejas Malkar</h3>
                <span> <b>Angular developer</b> </span>
                <p>He is a angular developer.
                    <br><br>
                He completed his graduation in B.Sc-IT in Pillai's HOC college of Arts, Science & Commerce, 
            Rasayani in Year 2021.<br><br>
                Along with his graduation, <br>He is a angular web developer<br>
                verified & certified by <br>Prognoz technologies Pvt. Ltd, Vashi.
                </p>
            </div>
        </div>

    </section>
</body>
</html>