<!--  service -->
<div class="service">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Our <span class="green">Services</span></h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="service_box">
                     <i><img src="/assets/images/service1.png" alt="#"/></i>
                     <h3>Retina Ready</h3>
                     <p>We have readymade retinas</p>
                  </div>
               </div>
               <div class="col-md-4 offset-md-1 col-sm-6">
                  <div class="service_box">
                     <i><img src="/assets/images/service2.png" alt="#"/></i>
                     <h3>Creative Elements</h3>
                     <p>We have creative ideas for new innovations in furnitures.</p>
                  </div>
               </div>
               <div class="col-md-4 offset-md-3 col-sm-6 mar_top">
                  <div class="service_box">
                     <i><img src="/assets/images/service3.png" alt="#"/></i>
                     <h3>Easy-to-Use</h3>
                     <p>Our furnitures are easy to use & Waterproof.</p>
                  </div>
               </div>
               <div class="col-md-4 offset-md-1 col-sm-6 mar_top">
                  <div class="service_box">
                     <i><img src="/assets/images/service4.png" alt="#"/></i>
                     <h3>Easy Import</h3>
                     <p>We import delivery within 24-48 working hours.</p>
                  </div>
               </div>

               
               <div class="col-md-12">
                  <a class="read_more" href="Javascript:void(0)"> </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end service -->

