<div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      
      <p class="w3-opacity w3-center"><i>Order your furniture now !</i></p><br>
    <ul class="w3-ul w3-border w3-white w3-text-grey">
        
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/assets/images/f5.webp" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Wardrobe</b></p>
            <p>Wardrobe with walnut finish.</p>
            <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
          <img src="/assets/images/f6.webp" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Bed</b></p>
            <p>King size bed, walnut finish with box storage in it</p>
            <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
          <img src="/assets/images/f10.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Desk</b></p>
            <p>Wooden hutch desk in brown colour</p>
            <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f9.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Sofa cum bed</b></p>
              <p>Fabric RHS pull out sofa cum bed in slate grey.</p>
              <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f11.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Dining table</b></p>
              <p>Solid wood 6 seater dining table in natural finish.</p>
              <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f12.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Sliding door wardrobe</b></p>
              <p>Universal sliding door wardrobe in walnut finish.</p>
              <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f13.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>1 seater sofa</b></p>
              <p>Velvet 1 seater sofa in teal blue colour.</p>
              <button  [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f14.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Rocking chair</b></p>
              <p>Solid wood rocking chair in blue colour.</p>
              <button [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/assets/images/f15.webp" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Shoe cabinet</b></p>
              <p>Shoe cabinet in columbia walnut finish.</p>
              <button  [routerLink]="['/getFurniture']" class="w3-button w3-black w3-margin-bottom">Order now</button>
            </div>
          </div>

      </div>
